.mobTiles {
  display: none;
  flex-wrap: wrap;
  margin-top: 6px;
  p {
    position: relative;
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    margin: 14px 10px 0px 15px;

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 1px;
      background: var(--second-gradient);
      position: absolute;
      top: 50%;
      left: -15px;
    }
  }
}

@media (max-width: 420px) {
  .mobTiles {
    display: flex;
  }
}
