.name {
  color: var(--secondary-text-color);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  &:hover {
    filter: brightness(0.8);
  }
}

@media (max-width: 420px) {
  .about {
    margin-bottom: 30px;
  }
}
