.container {
  width: 503px;
  display: flex;
  justify-content: space-between;
  a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      filter: brightness(0.8);
    }
  }
}

@media (max-width: 420px) {
  .container {
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    a:last-of-type {
      display: none;
    }
  }
}
